body {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  line-height: 1;
  background-color: #f0f0f0;
}

h1 {
  font-family: 'PT Serif', serif;
  font-size: 48px;
  line-height: 1;
}

h2 {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  color: #bbbbbb;
}

p {
  font-family: 'PT Serif', serif;
  font-size: 22px;
  line-height: 1.25;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  background-color: #f0f0f0 !important;
}

.jumbotron {
  text-align: left;
  background-color: transparent;
  color: black;
  padding-left: 0;
  margin-bottom: 3rem;
  padding-bottom: 0;
  /* border-radius: 0;
  border-bottom: 10px solid black; */
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: left;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/* my css */

.container {
  margin-bottom: 1em;
  padding: 0;
}

.form-group label {
  padding: 0 0 0 1em !important;
  margin-top: calc(1.5em + .75rem + 2px);
}

.card {
  border-radius: 1.5rem;
  border: none;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.card-body {
  padding: 0 1.25rem 0 1.25rem;
}

.row {
  border-top: none;
}

.quote {
  padding: 0;
  margin-bottom: 3rem;
}
